pipeline/RESTAPI.json
{
	"name": "RESTAPI",
	"properties": {
		"activities": [
			{
				"name": "EndPoint",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://pokeapi.co/api/v2/pokemon"
				}
			},
			{
				"name": "CopydataApi",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "EndPoint",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"QueryParameters.offset": {
								"value": "RANGE:0:@{activity('EndPoint').output.count}:20\n\n",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_api_sink",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-06-29T11:54:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}